<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://productconsumer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/eace7666-1403-49a9-84e9-a94170481957/resourcegroups/simform-internal-demo-rg/providers/Microsoft.Web/sites/ProductConsumer</ResourceId>
    <UserName>$ProductConsumer</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://productconsumer.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>